.dice{
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
    gap: 10px;

    .value {
        color: #eee;
        background-color: #607d8b;
        text-align: center;

        padding: 10px 5px;
        border-radius: 10px;
    }
}

.terra {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 10px;

    img {
        width: 100px;
    }
}