<h1>Create new Game</h1>
<mat-stepper orientation="vertical" [linear]="true" #stepper>
<mat-step >
        <ng-template matStepLabel>Board Size</ng-template>
        <mat-selection-list #board_size  [(ngModel)]="format"  [multiple]="false">
            <mat-list-option [value]="[3,4,5,4,3]">Normal (3-4-5-4-3)</mat-list-option>
        </mat-selection-list>

        <div>
            <button mat-flat-button matStepperNext color="accent">Next</button>
        </div>
</mat-step>
<mat-step>
        <ng-template matStepLabel>Players</ng-template>
        <div class="players">
            <app-player-select (player_color)="set_color(0, $event)" (player_type)="set_type(0, $event)"></app-player-select>
            <app-player-select (player_color)="set_color(1, $event)" (player_type)="set_type(1, $event)"></app-player-select>
            <app-player-select (player_color)="set_color(2, $event)" (player_type)="set_type(2, $event)"></app-player-select>
            <app-player-select (player_color)="set_color(3, $event)" (player_type)="set_type(3, $event)"></app-player-select>
        </div>
        <div>
            <button mat-flat-button matStepperNext color="accent">Next</button>
        </div>
</mat-step>
<mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>format: {{format | json}}</p>
    <p>player: {{player | json}}</p>
    <div>
        <a mat-flat-button matStepperNext color="warn" 
        [routerLink]="['/', 'new', 'design']" 
        [queryParams]="{size: format, player: json_player()}"
        >Design</a>
    </div>
</mat-step>
</mat-stepper>