
img {
        opacity: 0.3;
        position: absolute;}

.dice {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;

    span {
        margin: auto 0;
        color: rgba(255, 255, 255, 0.5);
        font-size: 18pt;
    }
}