.tiles {
    position: relative;

    img {
        position: absolute;
    }

    .dice {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;

        span {
            margin: auto 0;
            color: #fff;
            font-size: 18pt;
        }
    }
}

mat-icon {
    font-size: 22pt;
    height: auto;
    width: auto;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
}


.street {
    position:  absolute;
    height: 20px;
    transform-origin: center;
    border-radius: 50px;
    border: 1px dashed #aaa;
}